<footer class="footer">

    <img class="footer__image footer__image--left" src="img/yellow-kate.png">

    <div class="footer__content">
        <a class='btn btn--white dashed thick' target="_blank" href="https://thankfulregistry.com/jerandkate">Registry</a>
        <a class='btn btn--white dashed thick' target="_blank" href="https://www.google.ca/search?q=wedding+pugs&source=lnms&tbm=isch">Our story</a>
    </div>

    <img class="footer__image footer__image--right" src="img/yellow-jer.png">

</footer>
