@font-face {
    font-family: 'SantEliaRoughAltBoldThr';
    src: url('../fonts/SantEliaRoughAltBoldThr.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SantEliaRoughAltBoldThr.otf') format('opentype'),
         url('../fonts/SantEliaRoughAltBoldThr.woff') format('woff'),
         url('../fonts/SantEliaRoughAltBoldThr.ttf') format('truetype'),
         url('../fonts/SantEliaRoughAltBoldThr.svg#SantEliaRoughAltBoldThr') format('svg');
    font-weight: normal;
    font-style: normal;
  }
