body,
html {

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        margin: 0;
        width: 100%;
        max-width: none;
    }

}

html {
    box-sizing: border-box;
    font-size: #{$base + 'px'};
    font-size: #{$base-font-size + '%'};
    font-weight: $base-font-weight;
    font-family: $font-body;
    color: $color-font-body;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        font-size: #{$base-desktop + 'px'};
        font-size: #{$base-font-size-desktop / 100 + 'rem'};
    }

}

// Only adjust things I have follow up rules for

table,
td,
th,
ul,
ol,
dl,
dt,
li,
p,
blockquote,
figure {
    @include line-height(1);
    @include margin(0, 0, 1);

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        $leading: $leading-desktop;
        $leading-rem: $leading-rem-desktop;

        @import '../mixins/line-height';
        @import '../mixins/margin';

        @include line-height(1);
        @include margin-bottom(1);
        margin-left: auto;
        margin-right: auto;
    }

}

// Clear margin for line breaks
br {
    margin-bottom: 0;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

small {
    @include line-height(.5);

    font-size: 70%;

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        $leading: $leading-desktop;
        $leading-rem: $leading-rem-desktop;

        @import '../mixins/line-height';

        @include line-height(.5);
    }

}
