blockquote {
    position: relative;
    font-style: italic;
    padding-left: 1.4375rem;
    padding-top: -0.25em;
    margin-top: 2rem;
    border-left: 4px solid rgba(255,255,255,0.125);

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        padding-left: 2rem;
    }

    &:before {
        content: '\201C';
        font: #{5em/1} $font-headings;
        position: absolute;
        left: -0.5em;
        top: -0.125em;
        color: rgba(255,255,255,0.85);
    }

}

cite {
    display: block;
    font-style: normal;
}

// Quotes
figure blockquote {
    @include padding(1, 0);

    @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
        $leading: $leading-desktop;
        $leading-rem: $leading-rem-desktop;

        @import '../mixins/padding';

        @include padding(2, 0, 1);
        text-align: center;
    }

    p {
        @include font-size(1.6875);
        @include line-height(1.5);

        @media screen and (min-width: #{ $max-width + 5 + 'em'}) {
            $leading: $leading-desktop;
            $leading-rem: $leading-rem-desktop;

            @import '../mixins/font-size';
            @import '../mixins/line-height';

            @include font-size(1.6875);
            @include line-height(1.5);
        }

    }

}
