
.btn {
    text-decoration: none;
    font: #{1.5em/1} $font-headings;
    display: block;
    text-align: center;
    align-self: center;
    padding: 1em 1em;
    transition: all .5s ease;
    color: $gray-dark;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

    /*
    Above is shorthand for          :
        border-top-left-radius    : 255px 15px;
        border-top-right-radius   : 15px 225px;
        border-bottom-right-radius: 225px 15px;
        border-bottom-left-radius : 15px 255px;
    */

    &:hover {
        box-shadow: 2px 8px 4px -6px hsla(0,0%,0%,.3);
    }

    &.lined.thick{
        border: solid 7px #41403E;
    }

    &.dotted.thick{
        border: dotted 5px #41403E;
    }

    &.dashed.thick{
        border: dashed 5px #41403E;
    }

    &.lined.thin{
        border: solid 2px #41403E;
    }

    &.dotted.thin{
        border: dotted 2px #41403E;
    }

    &.dashed.thin{
        border: dashed 2px #41403E;
    }

    &--white {
        color: #ffffff !important;
        border-color: white !important;
        background-color: transparent;

        &:hover {
            color: $purple !important;
            background-color: white;
        }

    }

}
