.footer {
    background-color: $green;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;

    @media only screen and (max-width: $small-devices) {
        position: relative;
    }

}

.footer__image {

    max-width: 20%;

    @media only screen and (max-width: $small-devices) {
        position: absolute;

        &--right {
            bottom: 0;
            right: 0;
        }

        &--left {
            bottom: 0;
            left: 0;
        }

    }

    @media only screen and (min-width: $small-devices) {
       flex: 1 1 auto;
       width: 20%;
       margin-top: -2em;
       position: relative;
    }

}

.footer__content {
    flex: 2 1 auto;
    align-self: center;
    text-align: center;
    padding-top: $mobile-padding;
    padding-bottom: $mobile-padding;
    max-width: 75%;
    margin: 0 auto;

    @media only screen and (min-width: $small-devices) {
        flex: 4 1 auto;
        padding-top: $desktop-padding;
        padding-bottom: $desktop-padding;
    }

    .btn {
        font: #{1.2em/1} $font-headings;
        display: inline-block;
        padding: 0.75em;
        margin: 0.5em;

        @media only screen and (min-width: 450px) {
            margin: 0 0.5em;
        }

        @media only screen and (min-width: $small-devices) {
            font: #{1.5em/1} $font-headings;
            margin: 0 1em;
            padding: 1em;
        }

    }

}
